<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SmtpUser" value="info@exdci-solutions.com" />
    <add key="FormRecipient" value="comercial@exdci-solutions.com" />
    <add key="SmtpPassword" value="SMTP_PASSWORD_PENDIENTE" />
    <add key="SmtpHost" value="localhost" />
    <add key="SmtpPort" value="25" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>
